form {
  font-variant: small-caps;
}
.input-button {
  font-weight: lighter;
  background-color: #c6bfbf;
  color: white;
  margin-left: 345px;
}
.input-box {
  font-weight: lighter;
}
.temp-number {
  color: #aba4a4;
  text-align: center;
  opacity: 0.6;
  font-size: 190px;
  margin-top: -85px;
}
.forecast-list li {
  list-style: none;
  color: #8e8b8b;
  font-size: 22px;
  font-weight: 200;
  font-variant: small-caps;
}
.forecast-list {
  margin-top: -15px;
  text-align: center;
  margin-left: -45px;
}
.fahrenheit-unit {
  font-size: 18px;
}
a {
  text-decoration: none;
  color: #f5c3ae;
}
.row {
  color: #8e8b8b;
  font-weight: 200;
  font-size: 16px;
  text-align: center;
}
.temp-min {
  opacity: 0.5;
}

@media (max-width: 576px) {
  .temp-number {
    font-size: 150px;
    margin-top: 20px;
  }
  .input-button {
    margin-left: 85px;
  }
}
