.container {
  max-width: 600px;
  max-height: 330px;
  border: #97e6e1 solid ;
  padding: 75px 60px 50px 60px;
  border-radius: 3%;
  margin: auto;
  margin-top: 60px;
  border-inline-color: rgb(247, 230, 215);
  background: #F6F3ED;
}

form {
  margin-bottom: 50px;
  margin-top: -20px;
  
}
input {
  text-align: center;
 
}
h1 {
  color: #acaaaa;
  font-size: 90px;
  margin-left: 230px;
  font-family: "Julius Sans One", sans-serif;
}
.degrees {
  color: #c6bfbf;
  font-size: 12px;
  position: fixed;
  margin-top: 25px;
}
.fahrenheit-link, .celcius-link  {
  color: #b3abab;
}

.fahrenheit-link,
.active:hover, .celcius-link,
.active:hover {
  text-decoration: none;
}
h2 {
  font-size: 25px;
  font-weight: 200;
  color:#ECB18A;
  text-align: right;
  margin-right: 270px;
  margin-top: -130px;
}
.location {
  color: #6bd5ce;
  font-size: 25px;
}
.date {
  color: #8fd291;
  font-variant: small-caps;
}
.other {
  font-size: 16px;
  font-variant: small-caps;
}
.description {
  font-variant: small-caps;
  color: #b3abab;
}
.opensource {
  color: #87d5d0;
}
.gitlink {
  color: #c6bfbf;
  text-align: center;
  font-variant: small-caps;
  margin-top: 70px;

}
@media (max-width: 550px) {
  .container {
    max-width: 500px;
    max-height: 655px;
  }
  h1 {
    margin-left: 55px;
  }
  h2 {
    margin-top: 15px;
    margin-right: 5px;
    text-align: center;
  }
  .gitlink {
        margin-top: 50px;

  }
}