.app-container {
  max-width: 600px;
  padding: 75px 60px 50px 60px;
  border-radius: 3%;
  margin: auto;
  margin-top: 60px;
  background: #f7f5f4;
  box-shadow: 5px 5px 5px #dfdfdf;
}
h1 {
  color: #acaaaa;
  font-weight: 200;
}
.gitlink {
  text-align: center;
  color: #c6bfbf;
  font-variant: small-caps;
}
.opensource {
  color: #f0cfc1;
}
