.container {
  max-width: 400px;
  padding: 75px 60px 50px 60px;
  border-radius: 3%;
  margin: auto;
  margin-top: 60px;
  background: #f7f5f4;
}
h1 {
  color: #acaaaa;
  font-weight: 200;
  text-align: center;
}
.gitlink {
  margin-left: 375px;
  color: #c6bfbf;
  font-variant: small-caps;
}
.opensource {
  color: #f0cfc1;
}
